img {
    max-height: 500px;
    min-width: 100%;
}

.icon {
    color: lightgray;
    font-size: 2rem;
    cursor: pointer;
}

.icon:hover {
    color: white;
}

.text-block {
    position: absolute;
    bottom: 20px;
    right: 40px;
    background-color: black;
    border-radius: 5px;
    color: white;
    padding: 5px 20px 5px 20px;
}

.left-nav {
    position: absolute;
    top: 50%;
    left: 25px;
}

.right-nav {
    position: absolute;
    top: 50%;
    right: 25px;
}


.cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
    opacity: 1 !important;
}

.cdk-overlay-dark-backdrop {
    background: rgba(0, 0, 0, 1) !important;
}