.ngmy {
  font-family: Montserrat, 'Montserrat', sans-serif;
}

.container {
  margin-top: 65px;
}

img {
  max-height: 200px;
  margin: 25px;
}

img:hover {
  cursor: pointer;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

img:active {
  cursor: pointer;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
  opacity: 1 !important;
}

.cdk-overlay-dark-backdrop {
  background: rgba(0, 0, 0, 1) !important;
}