* {
  font-family: 'Montserrat', sans-serif;
}


.cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
  opacity: 1 !important;
}

.cdk-overlay-dark-backdrop {
  background: rgba(0, 0, 0, 1) !important;
}